* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 34%;
      grid-template-columns: 33% 33% 34%;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
}

header {
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

header a {
  color: black;
  font-size: 25px;
  text-decoration: underline;
}

header a:visited {
  color: black;
}

header a:hover {
  color: purple;
}

.sidebar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  height: 100%;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  padding: 1rem;
}

#divContenido {
  padding: 30px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

#divContenido #contenido {
  list-style-type: none;
  padding: 10px;
}

#divContenido #contenido li {
  height: 150px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 10px gray;
          box-shadow: 3px 3px 10px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#divContenido #contenido li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
}

#divContenido #contenido li img {
  width: 150px;
  height: 150px;
}

#divContenido #contenido li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
}

#divContenido #contenido li h2 {
  margin: 0;
  padding: 10px;
  background-color: gainsboro;
}

#divContenido #contenido li h4 {
  background-color: whitesmoke;
  padding: 10px;
  height: 100%;
}

.contenedorVideo {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.contenedorVideo video {
  width: 400px;
  z-index: 0;
  border: 2px solid black;
  padding: 0;
}

.contenedorVideo video:hover + section {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.contenedorVideo section {
  width: 400px;
  height: 30px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: -32px;
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
  background-color: rgba(0, 0, 0, 0.4);
}

.contenedorVideo section:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.contenedorVideo section button {
  height: 30px;
  border: none;
  background-color: transparent;
  color: white;
}

/* Player */
.player {
  min-width: 320px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));
  background-image: linear-gradient(black, gray);
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  -webkit-box-shadow: 2px 2px 3px black;
          box-shadow: 2px 2px 3px black;
}

.title {
  margin-top: 0;
  text-align: center;
  padding-bottom: 1rem;
}

.img {
  width: 140px;
  height: auto;
  border-radius: .3rem;
  display: block;
  margin: 0 auto 1rem auto;
}

.barra-container {
  height: .6rem;
  background-color: lightgray;
  margin-bottom: 1rem;
}

.barra {
  background-color: goldenrod;
  width: 0;
  height: 100%;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1rem;
}

.controls button {
  background-color: transparent;
  border: none;
}

.controls i {
  font-size: 1.7rem;
  color: white;
}
/*# sourceMappingURL=styles.css.map */